header {
    background-color: $colorSecundario;
    .dakologo {
        font-size: 3rem;
        color:$colorPrincipal ;
        font-family: okinesans;
    }
    .menuitems {
        color: $colorPrincipal;
        font-family: okinesans;
    }
}