@media (max-width: 768px) {
    
    .dakologo{
        font-size: 2rem;
    }
}




@media (max-width: 1250px) {
    .recetas {
        display: flex;
        justify-content: center;
        padding: 0.1rem;
        flex-direction: column;
        align-items: center;
    }
    .cooki-receta {
        height: 470px;
        width: 470px;
    }
    .muffin-receta {
        height: 470px;
        width: 470px;
    }
    .torta-receta {
        height: 470px;
        width: 470px;
    }
}

@media (max-width: 550px) {
    .recetas {
        display: flex;
        justify-content: center;
        padding: 0.1rem;
        flex-direction: column;
        align-items: center;
    }
    .cooki-receta {
        align-content: center;
    }
    .cooki-receta{
        height: 300px;
        width: 300px;
    }
    .muffin-receta {
        height: 300px;
        width: 300px;
    }
    .torta-receta {
        height: 300px;
        width: 300px;
    }
    }
    