.productos-titulo {
    text-align: center;
    margin: 1rem;
}

.carousel-control-prev, .carousel-control-next {
    top: 50%;
}

#carouselExampleIndicators {
    max-width: 600px;
    margin: 0 auto;
  }

.tabla-productos {padding: 2rem 3rem;
    display: flex;
    gap: 2rem;

    .producto {background-color: $colorSecundario;
        padding: 1.5rem;
        text-align: center;
        justify-content: center;
        .producto-inicio-titulo {
            color: $colorPrincipal;
        }
    }
}