* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: acumin;
  src: url("../fonts/Acumin Variable Concept.ttf");
}
@font-face {
  font-family: okinesans;
  src: url(../fonts/MADEOkineSansPERSONALUSE-Regular.otf);
}
html {
  scroll-behavior: smooth;
}

.acumin {
  font-family: acumin;
}

a {
  color: #c00000;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
}

h1 {
  color: #c00000;
  font-family: okinesans;
  font-weight: normal;
  font-size: 35px;
}

h2 {
  color: #c00000;
  font-family: okinesans;
  font-weight: normal;
}

p {
  font-family: acumin;
}

body {
  background-color: #fedee3;
}

main {
  padding: 2rem;
}

header {
  background-color: #f28ca8;
}
header .dakologo {
  font-size: 3rem;
  color: #c00000;
  font-family: okinesans;
  animation: bounce-top 0.9s both;
}
header .menuitems {
  color: #c00000;
  font-family: okinesans;
}
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.productos-titulo {
  text-align: center;
}

#carouselExampleIndicators {
  max-width: 600px;
  margin: 0 auto;
}

.tabla-productos {
  padding: 2rem 3rem;
  display: flex;
  gap: 2rem;
}

.producto {
  background-color: #f28ca8;
  padding: 1.5rem;
  text-align: center;
  justify-content: center;
}

.titulo-recetas {
  text-align: center;
}

.cards {
  display: flex;
  gap: 5rem;
}

.recetas {
  padding: 3rem 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "Cookies Muffins Tortas Brownie";
}
.recetas .cooki-receta {
  grid-area: Cookies;
}
.recetas .muffin-receta {
  grid-area: Muffins;
}
.recetas .torta-receta {
  grid-area: Tortas;
}
.recetas .brownie-receta {
  grid-area: Brownie;
}

.card {
  width: 190px;
  height: 254px;
  overflow: visible;
  cursor: pointer;
  position: relative;
}

.card::before, .content {
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1333333333);
  transition: transform 300ms, box-shadow 200ms;
}

.card::before {
  position: absolute;
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f28ca8;
  transform: rotateZ(5deg);
}

.description {
  width: 100%;
  text-align: center;
}

.info {
  color: rgba(0, 0, 0, 0.4);
}

.price::before {
  content: "$";
}

.price {
  font-weight: bold;
  color: #ee9933;
}

.description p {
  margin-bottom: 10px;
}

.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotateZ(-5deg);
}

.content .img {
  width: 150px;
  height: -moz-fit-content;
  height: fit-content;
}

.card:hover::before, .card:hover .content {
  transform: rotateZ(0deg);
}

.card:active::before, .card:active .content {
  box-shadow: none;
}

.recetas2 {
  background-size: cover;
  background-position: center center;
  border: solid;
  border-color: #fedee3;
  border-radius: 20px;
}

.recetas3 {
  gap: 7rem;
}

.separacionlist {
  padding-left: 20px;
}

.scroll-cookie {
  scroll-margin-top: 8ex;
}

.scroll-muffin {
  scroll-margin-top: 8ex;
}

.scroll-torta {
  scroll-margin-top: 8ex;
}

footer {
  color: #c00000;
  background-color: #f28ca8;
  font-family: okinesans;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-redes {
  list-style-type: none;
}

@media (max-width: 768px) {
  .dakologo {
    font-size: 2rem;
  }
}
@media (max-width: 1250px) {
  .recetas {
    display: flex;
    justify-content: center;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
  }
  .cooki-receta {
    height: 470px;
    width: 470px;
  }
  .muffin-receta {
    height: 470px;
    width: 470px;
  }
  .torta-receta {
    height: 470px;
    width: 470px;
  }
  .brownie-receta {
    height: 470px;
    width: 470px;
  }
}
@media (max-width: 550px) {
  .recetas {
    display: flex;
    justify-content: center;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
  }
  .cooki-receta {
    align-content: center;
  }
  .cooki-receta {
    height: 300px;
    width: 300px;
  }
  .muffin-receta {
    height: 300px;
    width: 300px;
  }
  .torta-receta {
    height: 300px;
    width: 300px;
  }
  .brownie-receta {
    height: 300px;
    width: 300px;
  }
}/*# sourceMappingURL=estilos.css.map */